#best{
	width:100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 50px;
}

#best .wrapper{
	background: none;
	max-width: 900px;
	margin:auto;
}

#best .menuTitle h5{
	color:brown;
}

#best hr{
	border-color: black;
}

.storePhoto {
	display: inline-block;
	width:350px;
	height:230px;
	margin:20px;
	background: gray;
	float:left;
	background-size:contain;
}

.mapButton{
	height:50px;
	line-height: 50px;
	font-size: 15px;
	width:200px;
	padding:0;
	border: none;
    border-radius: 40px;
    color:white;
    margin-top:20px;
    cursor:pointer;	
}

.naver {
	background: #00c73c;
}

.daum {
	background: #3c77eb;
}

.mapButton:hover{
	background: black;
}

@media (max-width: 800px){
	.storePhoto{
		margin-left: calc(50% - 175px);
	}
}