#best{
	width:100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 50px;
}

#best .wrapper{
	background: none;
	max-width: 900px;
	margin:auto;
}

#best .menuTitle h5{
	color:brown;
}

#best hr{
	border-color: black;
}

.photoContainer {
	
}

.storePhoto {
	display: inline-block;
	width:370px;
	height:230px;
	margin:20px;
	background: gray;
	float:left;
	background-size:contain;
}

@media (max-width: 800px){
	.storePhoto{
		margin-left: calc(50% - 185px);
	}
}