@import url('https://fonts.googleapis.com/css?family=Clicker+Script');


#menu{
	width:100%;
	height:100vh;
	overflow: hidden;
	background: url('../img/main2.jpeg');
	background-size:cover;
	position: relative;
}

hr{
	width:60%;
}

.wrapper{
	background: rgba(0,0,0,.5);
	width:100%;
	height:100%;
	padding:40px;
}

.menuWrapper{
	max-width: 1200px;
	height:100%;
	margin:auto;
	text-align: center;
	color:white;
}


.menuTitle{
	padding:20px;
}

.menuTitle h2{
	font-size: 4em;
	font-family: 'Clicker Script', cursive;
}

.menuTitle h5{
	font-family: 'Orbitron', sans-serif;
	color:wheat;
	font-size: 1em;
}

@media (max-width: 800px){
	.menuTitle h2{
		font-size:3em;
	}
}